/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.home-heading {
  color: #551e53;
  font-size: 60px;
  font-weight: solid;
  font-family: Roboto;
}
